__pycache__
**/__pycache__/
**/.pytest_cache/
.DS_Store
.venv
*.json
raw_list
*.egg-info/
deps/
docs/_build/
docs/jupyter_execute
target/
*.so
_build/
build/
.ipynb_checkpoints/
dist/
Cargo.lock
*.ipynb
cmake_build/
tests/data/
*.secret
node_modules/
uv.lock
*.log
*.tmp
*.list
test_scripts
tests/example_qubes
**/*venv*
.idea/
*.grib
fdb


# Added by cargo

/target
